<div class="container mt-2">
  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <form class="form-inline">
          <input class="form-control ml-2 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container mt-2">
  <div class="card" >
    <div class="card-header">
      <h5 class="card-title">Titre de these</h5>
    </div>
    <div class="card-body ">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>Sujet:</p>
            <p>Doctorant:</p>
            <p>Encaderant:</p>
            <p>article:</p>
          </div>
          <div class="col-md-6">
            <p>anne doctoral:</p>
            <p>Annee:</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="btn-group" role="group" >
        <button type="button" class="btn btn-secondary ml-2">Modifier</button>
        <button type="button" class="btn btn-danger ml-2">Supprimer</button>
      </div>
    </div>
  </div>
</div>

<!--//////////////////////////////-->

<div class="container mt-2">
  <div class="card" >
    <div class="card-header">
      <h5 class="card-title">Titre de these 2</h5>
    </div>
    <div class="card-body ">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>Sujet:</p>
            <p>Doctorant:</p>
            <p>Encaderant:</p>
            <p>article:</p>
          </div>
          <div class="col-md-6">
            <p>anne doctoral:</p>
            <p>Annee:</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="btn-group" role="group" >
        <button type="button" class="btn btn-secondary ml-2">Modifier</button>
        <button type="button" class="btn btn-danger ml-2">Supprimer</button>
      </div>
    </div>
  </div>
</div>
