<h3>
  Liste des etudiant
</h3>
<table class="table">
  <thead>
  <tr>
    <th scope="col">CNE</th>
    <th scope="col">Nom</th>
    <th scope="col">Prenom</th>
    <th scope="col"><i class="fa fa-trash-o"></i></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>ahmed</td>
    <td>Otto</td>
    <td><i class="fa fa-times-circle"></i></td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Chaima</td>
    <td>Thornton</td>
    <td><i class="fa fa-times-circle"></i></td>
  </tr>
  </tbody>
</table>
